
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./src/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="./src/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Document</title>
    </head>
    
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-info sticky-top">
        <h3 class="logo_text"><a href="{% url 'home' %}"> BishMeet </a></h3>
            
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-item nav-link" href="{% url 'groups:all' %}"> Группы </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-item nav-link" href="{% url 'events:event-list' %}"> Календарь </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'actions:notification_list' %}"> Уведомления </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userprofile:edit' %}"> Профиль </a>
                </li>

            </ul>
            
            <div class="col-3 .p-r-20 text-right">
               
                {% if user.is_authenticated %}
                    Hi, {{ user.username }}
                    <p><a href="{% url 'logout' %}"> Выйти </a></p>
                {% else %}
                    <p>You are not logged in</p>
                    <a class="menu_items_text"><a href="{% url 'login' %}"> Войти </a>
                    <a class="menu_items_text"><a href="{% url 'accounts:signup' %}"> Зарегистрироваться </a>
                    
                {% endif %}
                
            </div>
            
    </nav>


    <div>
        {% if messages %}
        <ul class="alert alert-success alert-dismissible fade show w-75 mx-auto">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            {% endfor %}


        </ul>

        {% endif %}
    </div>

    {% block content %}

    {% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/main.js' %}"></script>

</body>
</html>