{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./src/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./src/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="./src/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="./src/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'src/css/style.css' %}">
    <title>Bishmeet</title>
</head>

<body>

    <!-- modal window -->
    <div class="modal_gamburger">
        <div class="container">
            <div class="box_all">
                <div class="box_modal">

                    <p> <span data-cloze class="close">&times;</span></p>


                    <div class="box_lang">
                        <span class="lang_items">РУС</span>
                        <span class="lang_items">КЫРГ</span>
                        <span class="lang_items">ENG</span>
                    </div>
                </div>

                <div class="input-group mt-3 mb-4">
                    <input type="text" class="form-control" placeholder="поиск" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <img class="modal_lupa" src="{% static 'src/icons/lupa.png' %}" alt="">
                </div>

                <h6 class="list_items"><a href="{% url 'login' %}"> Войти</a></h6>
                <h6 class="list_items"><a href="{% url 'accounts:signup' %}"> Зарегистрироваться</a></h6>
                <hr class="line_category mt-3 mb-3">
                <h6 class="list_items"><a href="#">Создать группу</a></h6>
                <h6 class="list_items"><a href="#">Войти в группу</a></h6>
            </div>
        </div>
    </div>

    <!-- header for mobile -->
    <div class="mobile">
        <div class="container_all">
            <div class="gamburger_menu_mobile">

                <img data-mobile class="gamburger_img " src="static/src/icons/gamburger_menu.png" alt="menu">
                <h2 class="logo_text_mobile "><a href="{% url 'home' %}">BishMeet</a></h2>
                <span class="menu_text_mobile "><a href="{% url 'login' %}">Войти</a></span>
            </div>
        </div>
    </div>


    <header class="header_menu">
        <div class="container_all">

            <div class="menu">
                <h2 class="logo_text"><a href="{% url 'home' %}">BishMeet</a></h2>
                <div class="box_menu">
                    <ul class="menu_items menu_2">
                        <li class="menu_items_text"><a href="{% url 'groups:create' %}">Создать группу</a></li>
                        <li class="menu_items_text"><a href="{% url 'groups:all' %}">Войти в группы</a></li>
                        <li class="menu_items_text">
                            <select class="dropDown">
                                <option>Рус</option>
                                <option>Кыр</option>
                                <option>Eng</option>

                            </select>
                        </li>
                    </ul>

                    <div class="col-3 .p-r-20 text-right">
                        {% block content %}
                        {% if user.is_authenticated %}
                            Hi, {{ user.username }}
                            <p><a href="{% url 'logout' %}"> Выйти </a></p>
                        {% else %}
                            <p>You are not logged in</p>
                            <ul class="menu_items ">
                                <li class="menu_items_text"><a href="{% url 'login' %}"> Войти </a></li>
                                <li class="menu_items_text"><a href="{% url 'accounts:signup' %}"> Зарегистрироваться </a></li>
                            </ul>
                        {% endif %}
                        {% endblock content %}
                    </div>
                    
                </div>
            </div>
        </div>

    </header>

    <section class="promo">
        <div class="container_all">
            <div class="box_promo ">
                <h1 class="promo_first_text ">Вступайте в группы </h1>
                <p class="promo_text_item">Чтобы знакомиться с людьми, пробовать новое и заниматься тем, <br
                        class="break">что вы
                    любите.</p>
                <div class="for_btn">
                    <button type="button" class="btn btn-outline-primary">Вступить в группу </button>
                    <button type="button" class="btn btn-outline-primary">Создать группу</button>
                </div>
            </div>

        </div>
    </section>

    <section class="promo_info">
        <div class="container-fluid">
            <div class="box_promo_info ">
                <h2 class="promo_second_text ">Как работает Bishmeet</h2>
                <div class="promo_info_box mt-4">
                    <div class="box_info_1">

                        <div class="box_img">
                            <img class="promo_img_lupa mt-2" src="static/src/icons/lupa_blue_2.png" alt="lupa">
                        </div>

                        <div class="box_text">
                            <h2 class="promo_find_text">Находите группы</h2>
                            <p class="promo_text_info">Узнайте, кто проводит мероприятия, посвященные вашим любимым
                                <br> темам.
                            </p>
                        </div>

                        <div class="box_com">
                            <a href="#"><img class="get_in" src="static/src/icons/str.png" alt="str"> </a>
                        </div>

                    </div>




                    <div class="box_info_2">

                        <div class="box_img">
                            <img class="promo_img_pluse mt-2  " src="static/src/icons/pluse (1).png" alt="plus">
                        </div>

                        <div class="box_text_2">
                            <h2 class="promo_find_text">Создавайте группы </h2>
                            <p class="promo_text_info">Создав собственную группу, вы сможете приглашать людей из<br>
                                многомиллионного сообщества.
                            </p>
                        </div>

                        <div class="box_com">
                            <a href="#"><img class="get_in mr-4" src="static/src/icons/str.png" alt="str"> </a>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <section class="promo_slider">
        <div class="container_all">
            <div class="promo_text_slider">
                <h2 class="activity ">Мероприятия</h2>
                <p class="activity_text"><a href="#">Показать все </a></p>
            </div>

            <!-- <div class="container"> -->
            <div class="first owl-carousel owl-theme owl-loaded">
                <div>
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">12.04.2020</h5>
                            <h5 class="card-title">8:00</h5>
                            <h4 class="card-title">Home Run 2020</h4>

                            <p class="card-text">Домашний забег</p>
                            <p class="card-title-text">15 участников</p>

                            <a href="#" class="btn_card btn btn-primary">Посетить</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">12.04.2020</h5>
                            <h5 class="card-title">8:00</h5>
                            <h4 class="card-title">Home Run 2020</h4>

                            <p class="card-text">Домашний забег</p>
                            <p class="card-title-text">15 участников</p>

                            <a href="#" class="btn_card btn btn-primary">Посетить</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">12.04.2020</h5>
                            <h5 class="card-title">8:00</h5>
                            <h4 class="card-title">Home Run 2020</h4>

                            <p class="card-text">Домашний забег</p>
                            <p class="card-title-text">15 участников</p>

                            <a href="#" class="btn_card btn btn-primary">Посетить</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">12.04.2020</h5>
                            <h5 class="card-title">8:00</h5>
                            <h4 class="card-title">Home Run 2020</h4>

                            <p class="card-text">Домашний забег</p>
                            <p class="card-title-text">15 участников</p>

                            <a href="#" class="btn_card btn btn-primary">Посетить</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">12.04.2020</h5>
                            <h5 class="card-title">8:00</h5>
                            <h4 class="card-title">Home Run 2020</h4>

                            <p class="card-text">Домашний забег</p>
                            <p class="card-title-text">15 участников</p>

                            <a href="#" class="btn_card btn btn-primary">Посетить</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">12.04.2020</h5>
                            <h5 class="card-title">8:00</h5>
                            <h4 class="card-title">Home Run 2020</h4>

                            <p class="card-text">Домашний забег</p>
                            <p class="card-title-text">15 участников</p>

                            <a href="#" class="btn_card btn btn-primary">Посетить</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">12.04.2020</h5>
                            <h5 class="card-title">8:00</h5>
                            <h4 class="card-title">Home Run 2020</h4>

                            <p class="card-text">Домашний забег</p>
                            <p class="card-title-text">15 участников</p>

                            <a href="#" class="btn_card btn btn-primary">Посетить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        </div>
    </section>



    <section class="promo_slider">
        <div class="container_all">
            <div class="promo_text_slider">
                <h2 class="activity ">Группы</h2>
                <p class="activity_text"><a href="#">Показать все </a></p>
            </div>

            <div class="second owl-carousel owl-theme owl-loaded">
                <div>
                    <div class="second_card">
                        <div class="card_GDG_img">
                            <img class="GDG_img" src="static/src/images/GDG.png" alt="GDG">
                        </div>
                        <div class="info_text">
                            <h5 class="card-title-text GDG_text">IT</h5>
                            <h4 class=""><a class="GDG_text" href="#">GDG Bishkek</a></h4>
                            <p class="card-text"><a class="GDG_text" href="#">Предстоящих мероприятий:
                                    1</a></p>
                            <p class="card_text"><a class="GDG_text" href="#"> 821 участников</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="second_card">
                        <div class="card_GDG_img">
                            <img class="GDG_img" src="static/src/images/GDG.png" alt="GDG">
                        </div>
                        <div class="info_text">
                            <h5 class="card-title-text GDG_text">IT</h5>
                            <h4 class=""><a class="GDG_text" href="#">GDG Bishkek</a></h4>
                            <p class="card-text"><a class="GDG_text" href="#">Предстоящих мероприятий:
                                    1</a></p>
                            <p class="card_text"><a class="GDG_text" href="#"> 821 участников</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="second_card">
                        <div class="card_GDG_img">
                            <img class="GDG_img" src="static/src/images/GDG.png" alt="GDG">
                        </div>
                        <div class="info_text">
                            <h5 class="card-title-text GDG_text">IT</h5>
                            <h4 class=""><a class="GDG_text" href="#">GDG Bishkek</a></h4>
                            <p class="card-text"><a class="GDG_text" href="#">Предстоящих мероприятий:
                                    1</a></p>
                            <p class="card_text"><a class="GDG_text" href="#"> 821 участников</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="second_card">
                        <div class="card_GDG_img">
                            <img class="GDG_img" src="static/src/images/GDG.png" alt="GDG">
                        </div>
                        <div class="info_text">
                            <h5 class="card-title-text GDG_text">IT</h5>
                            <h4 class=""><a class="GDG_text" href="#">GDG Bishkek</a></h4>
                            <p class="card-text"><a class="GDG_text" href="#">Предстоящих мероприятий:
                                    1</a></p>
                            <p class="card_text"><a class="GDG_text" href="#"> 821 участников</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="second_card">
                        <div class="card_GDG_img">
                            <img class="GDG_img" src="static/src/images/GDG.png" alt="GDG">
                        </div>
                        <div class="info_text">
                            <h5 class="card-title-text GDG_text">IT</h5>
                            <h4 class=""><a class="GDG_text" href="#">GDG Bishkek</a></h4>
                            <p class="card-text"><a class="GDG_text" href="#">Предстоящих мероприятий:
                                    1</a></p>
                            <p class="card_text"><a class="GDG_text" href="#"> 821 участников</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="second_card">
                        <div class="card_GDG_img">
                            <img class="GDG_img" src="static/src/images/GDG.png" alt="GDG">
                        </div>
                        <div class="info_text">
                            <h5 class="card-title-text GDG_text">IT</h5>
                            <h4 class=""><a class="GDG_text" href="#">GDG Bishkek</a></h4>
                            <p class="card-text"><a class="GDG_text" href="#">Предстоящих мероприятий:
                                    1</a></p>
                            <p class="card_text"><a class="GDG_text" href="#"> 821 участников</a></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="second_card">
                        <div class="card_GDG_img">
                            <img class="GDG_img" src="static/src/images/GDG.png" alt="GDG">
                        </div>
                        <div class="info_text">
                            <h5 class="card-title-text GDG_text">IT</h5>
                            <h4 class=""><a class="GDG_text" href="#">GDG Bishkek</a></h4>
                            <p class="card-text"><a class="GDG_text" href="#">Предстоящих мероприятий:
                                    1</a></p>
                            <p class="card_text"><a class="GDG_text" href="#"> 821 участников</a></p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </section>

    <section class="category">
        <div class="container_all">
            <h2 class="">Категории</h2>
            <div class="category_items">
                <ul class="items_btn">
                    <li> <button class="category_btn">Активный отдых</button></li>
                    <li><button class="category_btn">Технологии</button></li>
                    <li>
                        <button class="category_btn">Семья</button>

                    </li>
                    <li>
                        <button class="category_btn"> Здоровье</button>

                    </li>
                    <li>
                        <button class="category_btn"> Спорт</button>

                    </li>
                    <li>
                        <button class="category_btn"> Обучение</button>

                    </li>
                    <li>
                        <button class="category_btn"> Еда</button>

                    </li>
                    <li>
                        <button class="category_btn"> Фотографии</button>

                    </li>
                    <li>
                        <button class="category_btn"> Музыка</button>

                    </li>
                    <li>
                        <button class="category_btn"> Фильмы</button>

                    </li>
                    <li>
                        <button class="category_btn"> Игры</button>

                    </li>
                    <li>
                        <button class="category_btn"> Искусство</button>

                    </li>
                    <li>
                        <button class="category_btn"> Бизнес</button>

                    </li>
                    <li>
                        <button class="category_btn">Книги</button>

                    </li>
                    <li>
                        <button class="category_btn"> Карьера</button>

                    </li>

                    <li>
                        <button class="category_btn">Движение</button>

                    </li>
                    <li>
                        <button class="category_btn">Язык и культура</button>

                    </li>
                    <li>
                        <button class="category_btn">Вера</button>

                    </li>
                    <li>
                        <button class="category_btn">Танцы</button>

                    </li>
                    <li>
                        <button class="category_btn">Животные</button>

                    </li>
                    <li>
                        <button class="category_btn">Хобби</button>

                    </li>
                    <li>
                        <button class="category_btn">Мода</button>

                    </li>

                </ul>





            </div>
        </div>
    </section>

    <h3 class='alert alert-success'> Находи интересующие тебя мероприятия сейчас </h3>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <p>
            <h3>{{ form.as_p }}</h3>
            </p>
            <br>
            <input type="submit" class='btn btn-primary btn-lg' value="Подписаться"/>
        </div>
    </form>

    <footer>
        <div class="container_all">
            <div class="footer_items_box">
                <div class="footer_items_promo">
                    <h2 class="footer_logo"> <a href="#">BishMeet</a></h2>
                    <p class="footer_text_promo">Bishmeet — это платформа, где пользователи могут находить
                        группы по интересам. Или же
                        создавать самим новые группы.</p>
                    <a href="#">
                        <img class="soc_set" src="static/src/icons/instagram (1).png" alt="instagram">
                    </a>
                    <a href="#">
                        <img class="soc_set" src="static/src/icons/facebook.png" alt="facebook">
                    </a>
                    <a href="#">
                        <img class="soc_set" src="static/src/icons/telegram.png" alt="telegram">
                    </a>

                </div>


                <div class="footer_search_text">
                    <p><a href="#">Найти группы</a></p>
                    <p><a href="#">Создать группу</a></p>

                </div>

                <div class="footer_register_text">
                    <p><a href="sign_up.html">Зарегистрироваться</a></p>
                    <p><a href="come_in.html">Войти </a></p>
                    <p><a href="#">Помощь </a></p>


                </div>

                <div class="footer_category_text">
                    <p><a href="#">Группы</a></p>
                    <p><a href="#">Мероприятия </a></p>
                    <p><a href="#">Категории</a></p>
                    <p><a href="#">Города</a></p>
                    <p><a href="#">О нас</a></p>
                </div>
            </div>



        </div>

        <div class="footer_mobile">
            <p class="BishMeet"> © 2020 BishMeet</p>
        </div>



    </footer>



    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>